body {
    font-family: "Montserrat", sans-serif !important;
    background-color: #F6F7F9;
}

.container {
    max-width: 1180px;
    align-items: center;
}

.navbar {
    background-color: #F6F7F9;
}

.banner {
    background-image: url(./img/banner.svg);
    color:white;
    height: 526px;
}

.photos {
    width:100%;
    background-image: url(./img/ph_bg.svg);
}

.carousel {
    width: 65%;
}

.gradient {
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #F7941D, #27AAE1);
}

h3 {
    font-size: calc(18px + 4vw);
    font-weight: 600;
}

.button_stroke {
    border: solid black 3px;
    border-radius: 10px;
    background: transparent;

}

.sova {
    border-radius: 20px;
    background-color: white;
    position: relative;
    gap:10px;
}

.kartinka_sovi {
    position: absolute;
    width: 270px;
    left:-50px;
}

.helper {
    input {
        background-color: #E6E6EC;
        color: #4F4F4F;
        border: 0px;
        border-radius: 8px;
        height: 55px;
    }

    button {
        background-color: #F7941D;
        color: white;
        border: 0px;
        height: 55px;
    }
}

footer {
    a {
        color: white !important;
    }
}

@media (max-width: 768px) {
    .kartinka_sovi {
        display: none;
    }

}

.works {

      #exTab1 .nav-pills > li > a {
        color: var(--white, #000000);
        text-align: center;
        /* font-size: 12px; */
        font-style: normal;
        font-weight: 800;
        font-size: calc(16px + 0.8vw);
      }

      #exTab1 .nav-pills > .active > a{
        color:  #000000;
        text-decoration: underline 4px #27AAE1;
      }


      .tab-content > .active {
        display: flex !important;
      }
}